name: Library CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  call-parent:
    uses: Drathveloper/go-build-tools/.github/workflows/golang_lib_workflow.yml@main